/* On supprime les marges inutiles */
html, body {
  margin : 0; padding: 0;
  font-family: 'Lato', arial, sans-serif;
}

header {
  background-color: #ff896b;
  padding: 30px;
  color: white;
  margin-bottom: 30px;
}

nav {
  float: right;
  padding-top: 10px;
}

nav li a {
  color: #ebe6e6;
  text-decoration: none;
}
nav li a:hover {
  color: #f5f5f5;
}

nav #active a {
  color: white;
}

nav ul, #footer-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

nav li, #footer-links li {
  margin: 0 5px;
  display: inline-block;
}

footer {
  border-top: 1px solid #f0f0f0;
  padding: 50px 30px;
  color: #777;
  font-size: .8em;
  margin-top: 30px;
}

footer #footer-links {
  float: right;
  text-align: right;
}

footer #footer-links p {
  margin-top: 0;
  padding-right: 5px;
}

footer #footer-links a {
  color: silver;
  text-decoration: none;
}
footer #footer-links a:hover {
  color: grey;
}

h1 {
  font-family: 'Merriweather', serif;
  margin-top: 50px;
}

#top-3 {
  text-align: center;
}

.logo {
  width: 30px;
  display: inline-block;
}

.logo img {
  width: 100%;
}

/* On englobe notre site dans un container et on le centre */
.container {
  width: 800px;
  margin: 0 auto;
}

.coffee {
  width: 190px;
  height: 190px;
  background-color: #e8d4b4;
  margin: 15px;
  display: inline-block;
}

.coffee img {
  width: 100%;
}

@media all and (max-width: 860px) {
  
  .container {
    width: 500px;
  }
  
}

@media all and (max-width: 560px) {
  
  .container {
    width: 100%;
  }
  
}

@media all and (max-width: 360px) {
  
  /* Header */
  header .container { text-align: center; }
  nav { float: none; }
  
  /* Footer */
  footer .container { text-align: center; }
  footer #footer-links { float: none; text-align: center; }
}
